.puzzle {
  background: $blue;
  height: 971px;
  width: 1166px;
  position: relative;
  margin:10px auto;
  .puzzle__layer {
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .puzzle__base{
    height: 100%;
    width: 100%;
  }
  .puzzle__piece{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
  }
}