.text-input {
  border: 1px solid $ligth-grey;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
}

.select {
  @extend .text-input;
  border-right: 0;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}